/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .container{
        max-width: 720px;
    }

    .menu{
        display: none;
    }

    .hero{
        padding: 300px 0 200px;
    }

    .hero__main{
        max-width: 450px;
        margin: 0 auto;
    }

    .about__list{
        grid-gap: 20px;
    }

    .customer__image img{
        width: 330px;
    }

    .overlay__main img{
        width: 330px;
        height: 220px;
    }

    .ipad__btn{
        margin-top: 60px;
    }

    .testimonials__image img{
        width: 330px;
    }

    .trust__image{
        flex-wrap: wrap;
        gap: 0 20px;
    }

    .ask__main img{
        width: 330px;
        height: 220px;
    }

    .team__item img{
        width: 220px;
    }

    .ipad__text{
        margin-bottom: 40px;
    }

    .showcase__image img{
        width: 175px;
    }

    .info__text{
        max-width: 465px;
    }

    .blog__image img{
        width: 220px;
    }
}

/* Mobile */
@media (max-width: 739px){
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .menu{
        display: none;
    }

    .hero{
        padding: 200px 0;
    }

    .hero__buttons{
        display: grid;
    }

    .about__content{
        max-width: 385px;
    }

    .about__list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .customer__main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .customer__image img{
        width: 385px;
    }

    .overlay__main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .overlay__main img{
        width: 385px;
    }

    .pricing__list{
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonials__main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonials__image img{
        width: 385px;
    }

    .trust__image{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 90px;
    }

    .ask__main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .ask__main img{
        width: 385px;
    }

    .team__list{
        grid-template-columns: repeat(1, 1fr);
    }

    .team__item img{
        width: 385px;
    }

    .showcase__image{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    .showcase__image img{
        width: 385px;
    }

    .features__list{
        grid-template-columns: repeat(1, 1fr);
    }

    .newsletter__form #newsletter__email{
        width: 80%;
        max-width: 320px;
    }

    .blog__list{
        grid-template-columns: repeat(1, 1fr);
    }
}